{{#if logged_in}}
<h1>Your shopping cart</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
    </tr>
    {{#each products}}
    <tr>
      <td>
        {{product_name}}
      </td>
      <td>${{price}}</td>
    </tr>
    {{/each}}
  </thead>
  <tbody id="cartTable">
    <!-- Cart data will be dynamically generated here -->
  </tbody>
</table>

<a href="/"><button type="button" class="btn btn-secondary" id="continueShopping">Continue Shopping</button></a>
<a href="/checkout/{{id}}"><button type="button" class="btn btn-primary" id="checkout">Checkout</button></a>
{{else}}
<p>Please Log In To View Your Cart</p>
{{/if}}