
  <h2 id="top-picks">Picks For You</h2>
  <main class="container container-fluid mt-5">
    {{#each products}}
    <a href="/product/{{id}}" class="product-link">
      <div id="prodcard" class="product-card">
        <h2>{{product_name}}</h2>
        <p class="condition">Condition: {{condition}}</p>
        <p>Seller: {{user.name}}</p>
      </div>
    </a>
    {{/each}}

  </main>